<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="gurdy">
    <!--
    /home/user/simulation_ws/src/robotnik_sensors_master_project/robotnik_sensors/urdf/all_sensors.urdf.xacro
    /home/user/simulation_ws/src/robotnik_sensors_master_project/robotnik_sensors/urdf/intel_r430.urdf.xacro
    -->
    <xacro:include filename="$(find robotnik_sensors)/urdf/all_sensors.urdf.xacro"/>

    <xacro:property name="pc_cam_body_link_radius" value="0.1"/>
    <xacro:property name="pc_cam_body_link_length" value="0.05"/>
    <xacro:property name="pc_cam_body_link_mass" value="50"/>

    <!-- Camera at a distance of 1.2 meters in the z axis with respect from the pc_cam_base_link.
         The camera has an inclination of 30º in the pitch axis.-->
    <xacro:property name="camera_height_from_base" value="1.2"/>
    <xacro:property name="camera_pitch" value="1.047"/>

    <!-- The same for all objects-->
    <xacro:property name="kp" value="1000.0"/>
	<xacro:property name="kd" value="1000.0"/>
	<xacro:property name="mu1" value="10.0"/>
    <xacro:property name="mu2" value="10.0"/>

    <xacro:macro  name="cylinder_inertia" params="mass r l">
      <inertia  ixx="${mass*(3*r*r+l*l)/12}" ixy = "0" ixz = "0"
                iyy="${mass*(3*r*r+l*l)/12}" iyz = "0"
                izz="${mass*(r*r)/2}" />
    </xacro:macro >

    <!-- For RVIZ -->
    <material name="zinc_yellow">
        <color rgba="0.9804 0.7922 0.1882 1"/>
    </material>

    <!-- The support base for the camera -->
    <xacro:macro name="pc_cam">

        <link name="base_link">
        </link>
        
        <link name="pc_cam_body_link">
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <mass value="${pc_cam_body_link_mass}" />
                <xacro:cylinder_inertia mass="${pc_cam_body_link_mass}" r="${pc_cam_body_link_radius}" l="${pc_cam_body_link_length}"/>                
            </inertial>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <cylinder radius="${pc_cam_body_link_radius}" length="${pc_cam_body_link_length}"/>
                </geometry>
            </collision>
            <visual>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                    <cylinder radius="${pc_cam_body_link_radius}" length="${pc_cam_body_link_length}"/>
                </geometry>
                <material name="zinc_yellow"/>
            </visual>
        </link>
        <!--
        From the camera's XACRO:
        <xacro:macro name="sensor_r430" params="prefix parent prefix_topic:='front_rgbd_camera' *origin">
            <joint name="${prefix}_camera_joint" type="fixed">
                <xacro:insert_block name="origin" />      
                <parent link="${parent}"/>
                <child link="${prefix}_camera_link" />
            </joint>
            ...
        -->
        <xacro:sensor_r430 prefix="pc_cam" parent="pc_cam_body_link" >
            <origin xyz="0 0 ${camera_height_from_base}" rpy="0 0 ${camera_pitch}"/>
        </xacro:sensor_r430>


        <gazebo reference="pc_cam_body_link">
            <material>Gazebo/ZincYellow</material>
        </gazebo>

        <joint name="base_joint" type="fixed">
            <parent link="base_link"/>
            <child link="pc_cam_body_link"/>
        </joint>


    </xacro:macro>

    <xacro:pc_cam/>


</robot>
